[submodule "tinyusb"]
	path = software/external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "freertos"]
	path = software/external/freertos
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "ultrasonic.soniclib"]
	path = software/external/ultrasonic.soniclib
	url = https://github.com/tdk-invn-oss/ultrasonic.soniclib
